

.clear {

  height: 30px;
  width: 30px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.fa-rotate {
  font-size: 30px;
  font-weight: 900;
  color: azure;
}

#date {
  position: absolute;
  left: 7px;
  bottom: 7px;

  font-size: 20px;
  font-weight: 900;
  color: azure;
}

.container-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  font-family: 'Nunito', sans-serif;
}

.container-2 {
  border: 2px;
  background: #fff;
  border-radius: 10px;
  width: 420px;
  height: 600px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
  position: relative;
  align-items: center;
}

#list {
  border: 2px solid black;
  cursor: pointer;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}


#list:hover {
  background: #ddd; 
}


.header {
  border: 2px;
  height: 170px;
  position: relative;
  border-bottom: 1px solid rgb(158, 157, 157);
  background-image: url(https://i.pinimg.com/564x/88/06/43/880643733b1dfedf22c217c18294f458.jpg);
  background-color: #cccccc;
  background-size: cover;
  
  background-position: left 5% bottom 41.5%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}


.add-item {
  display: flex;
  position: absolute;
  border-top: 1px solid rgb(158, 157, 157);
  padding: 5px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  
}


.plus-circle {

  height: 30px;
  width: 30px;
  display: flex;
  bottom: 12px;
  right: 12px;
  position: absolute;

}

.fa-circle-plus {
  font-size: 30px;
  font-weight: 900;
  color: darkgray;
}


#input {
  margin: 0px;
  border: 0;
  border-radius: 0px;
  width: 85%;
  height: 100%;
  padding: 10px;
  float: left;
  font-size: 18px;
  outline-width: 0;
  font-family: 'Nunito', sans-serif;
}







